@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap");

/* .custom-shape-divider-bottom-1671370168 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1671370168 .shape-fill {
    fill: #ffffff;
    fill: #00000000;
} */

@media (min-width: 1440px) {
  .channelHeader {
    height: 620px;
    width: 85%;
    position: relative;
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to bottom,rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.80)); */
    /* background-image: url("../../cl2-edited.png"); */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0.4) 55%,
        rgba(0, 0, 0, 0.2) 90%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../../cl2-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    top: 50px;
    border-radius: 10px;
  }

  .channelName {
    /* display: flex; */
    text-align: center;
    margin-top: 244px;
    /* font-size: xx-large; */
    font-family: "Dancing Script", cursive;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 8px black;
    position: absolute;
    /* font-family: 'Poppins', sans-serif; */
  }
}

@media screen and (max-width: 1440px) {
  .channelHeader {
    /* background-color: black; */
    margin: -18px 0 0 0;
    height: 600px;
    width: 100%;
    /* position: inherit; */
    display: flex;
    justify-content: center;
    /* top: 50px; */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0.4) 55%,
        rgba(0, 0, 0, 0.2) 90%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../../cl2-header.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
  }
  .channelName {
    /* display: flex; */
    text-align: center;
    margin-top: 200px;
    /* font-size: xx-large; */
    font-family: "Dancing Script", cursive;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 8px black;
    position: absolute;
    /* font-family: 'Poppins', sans-serif; */
  }
}

/* @media screen and (max-width: 540px) {
    .channelHeader {
            
            height: 600px;
            width: 100%;
            
            display: flex;
            justify-content: center;
            margin: 0px;
            top: 50px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.20) 30%, rgba(0, 0, 0, 0.40) 55%, rgba(0, 0, 0, 0.20) 90%, rgba(255, 255, 255, 0) 100%), url("../../cl2-header.png");
            background-repeat: no-repeat;
            
            background-position: center;
    
        }
} */
