@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

.main-container {
  height: fit-content;
  width: 85%;
  /* background-color: rgb(228 184 188); */
  /* background-color: rgba(244,146,152, 0.5 ); */
  /* background-color: rgba(244,146,152, 0 ); */
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* padding: 1rem; */
  /* border: 2px solid black; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */

  backdrop-filter: blur(7px);
  box-shadow: 1px 1px 7px grey;
}

.headerName {
  margin: auto;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: #7b1616;
  font-size: 30px;
  font-weight: 700;
}

.volume-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.accord-container {
  width: 97%;
  height: auto;
  padding: 10px;
}

.accordion {
  width: 100%;
}

.previousVolume {
  font-size: 20px;
  font-weight: 600;
}

.link-container {
  margin: 1rem;
  padding: 1rem;
  /* height: 70vh; */
  height: fit-content;
  width: 100%;
  max-width: 90%;
  /* background: rgba(255, 255, 255, 0.548); */
  /* background: rgba(255, 181, 181, 0.548); */
  z-index: 10;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  color: black;
}

.volume-url {
  color: black;
}

.volume-url:visited {
  color: rgb(82, 78, 78);
}

.info-container {
  margin: 2rem 2rem 1rem 0;
  height: 50vh;
  min-height: 300px;
  width: 50%;
  background: rgba(251, 255, 0, 0.467);
  z-index: 10;
  border-radius: 1rem;
  padding: 20px;
  font-size: 20px;
  color: rgb(48, 47, 47);
}

.volume-url {
  margin: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.5rem;
  border: 2px solid transparent;
  border-bottom: 2px solid #d7d7d7;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
.volume-url:hover {
  /* background: #d5d5d5; */
  /* border: 2px solid #d4d4d4; */
  border: 2px solid rgb(48 93 103);
}

@media screen and (max-width: 1440px) {
  .headerName {
    margin: auto;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    color: #7b1616;
    font-size: 20px;
    font-weight: 700;
  }

  .volume-container {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }

  .link-container {
    margin: 1rem auto;
    width: 81.5%;
    min-width: 81.6%;
  }

  .info-container {
    margin: 2rem auto;
    min-width: 81.6%;
  }

  /* .accord-container{
  width:90%;
  height: auto;
  padding: 10px;
} */
}

.info-container {
  color: black;
}
