.coffee {
  height: 55px;
  width: 70%;
  background-color: rgb(255, 221, 0);
  margin: 20px auto;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text {
  padding-top: 14px;
  font-size: larger;
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 600px) {
  .coffee {
    width: 60%;
  }
}
