
.reading-container{
    /* height:500px; */
    height:800px;
    width:85%;
    background-color: rgba(246, 248, 248, 0.363);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 300px;
    border-radius: 10px;
}

.pdf-display{
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
