.reading-container {
  height: 1000px;
  width: 85%;
  background-color: rgba(0, 255, 255, 0);
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  min-height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.heading {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 27px;
  margin: 0px;
  padding: 0 18px 8px;
  margin-top: 0px;
}
.pdf-display {
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.dark_mode_2 {
  position: absolute;
  top: 1.8%;
  left: 72%;
}

.label-tab {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wr
  
  ap; */
}

.pageInput {
  padding: 3px 10px;
  height: 20px;
  width: 100px;
  margin: 10px;
  margin-right: 30px;
  position: absolute;
  left: 26%;
  top: 2.5%;
  display: flex;
  flex-direction: row;
}
.pageno {
  padding-top: 5px;
}
.bt1 {
  position: absolute;
  top: 50%;
  left: 5%;
  opacity: 0;
}
.bt2 {
  position: absolute;
  top: 55%;
  left: 70%;
  opacity: 0;
}
.theme-btn {
  width: 50px;
  z-index: 200;
  position: absolute;
  top: 4%;
  left: 72%;
}

.fullscreeen-btn {
  margin: 10px;
  position: absolute;
  top: 2.5%;
  left: 22%;
}

.ful-btn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  padding: 2px;
}

.chapter-option {
  margin: 10px;
  position: absolute;
  top: 1.7%;
  left: 38%;
  width: 30%;
  cursor: pointer;
  z-index: 20;
}

.chapter-container {
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 2px;
}

.chapter-container:hover {
  background-color: rgb(214, 218, 221);
}

.chapter-container:active {
  background-color: rgb(173, 175, 177);
}

.pdf-viewer-container {
  height: 90%;
  width: 90%;
  position: relative;
  top: 6%;
}

.viewer {
  height: 100px;
  width: 50%;
}

.scrollToTop {
  position: sticky;
  display: block;
  height: 20px;
  width: 20px;
  bottom: 50px;
  right: 10px;
  /* background-color: aqua; */
  margin-left: 20px;
  cursor: pointer;
}
/* .scrollToTop:{
  cursor: pointer;
} */

.scrollToTop-btn {
  background-color: #77777900;
  border: none;
  color: rgb(108, 107, 107);
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .heading {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .pageInput {
    padding: 0px 2px;
    height: 25px;
    width: 100px;
    margin: 10px;
    position: absolute;
    left: 45%;
    top: 7%;
    display: flex;
    flex-direction: row;
  }
  .chapter-option {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 34%;
    width: 35%;
    min-width: 130px;
    cursor: pointer;
  }

  .fullscreeen-btn {
    margin: 10px;
    position: absolute;
    top: 7%;
    left: 24%;
  }

  .theme-btn {
    margin: 10px;
    position: absolute;
    top: 7%;
    left: 70.5%;
  }
  .dark_mode_2 {
    top: 6%;
  }
  .pdf-viewer-container {
    top: 6.5%;
    height: 87%;
    width: 100%;
  }
}

@media screen and (max-width: 754px) {
  .reading-container {
    width: 100%;
  }

  .pdf-viewer-container {
    width: 100%;
  }

  .pageInput {
    padding: 0px 2px;
    height: 20px;
    width: 100px;
    margin: 10px;
    position: absolute;
    left: 30%;
    top: 7%;
    display: flex;
    flex-direction: row;
  }

  .chapter-option {
    margin: 10px;
    position: absolute;
    top: 0%;
    left: 20%;
    width: 50%;
    cursor: pointer;
  }

  .fullscreeen-btn {
    margin: 10px;
    position: absolute;
    top: 7%;
    left: 13%;
  }

  .theme-btn {
    margin: 10px;
    position: absolute;
    top: 7%;
    left: 69%;
  }
}

.hidden {
  opacity: 0;
}

.maindiv > h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 27px;
}
h2 {
  font-weight: normal;
  font-size: inherit;
}
