@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&family=Varela+Round&display=swap");

@media screen and (min-width: 1150px) {
  .ChannelFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 85%;
    /* background-color: aqua; */
    margin: auto;
    bottom: 10px;
    /* margin-top: 30px; */
  }

  .footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgb(244, 146, 152)
    );
    background-color: rgb(244, 146, 152);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
  }

  .channel-info {
    /* padding-top: 10px; */
    width: 35%;
    margin-left: 100px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    color: rgba(255, 255, 255, 0.885);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* filter: blur(10px); */
  }

  .creator-info {
    width: 40%;
    text-align: center;
    margin-left: 100px;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
  }

  .channel-link{
    margin: 10px 30px;
    width: 50%;
    text-align: left;
  }

  .channel-link h4 {
    margin: 9px 0px;
    color:rgba(255, 255, 255, 0.885);
  }
  .channel-link h2{
    margin: 5px 0px;
    margin-bottom: 20px;
  }

  .links{
    display: flex;
    flex-direction: row;
  }

  .icons{
    color: rgba(255, 255, 255, 0.885);
    margin-top: 9px;
    margin-left: 5px;
  }

  .developer-link{
    margin: 10px 30px;
    width: 100px;
  }

  .lastImage {
    height: 38%;
    background-image: url("./channels4_banner(1).jpg");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .custom-shape-divider-top-1671373515 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1671373515 .shape-fill {
    fill: #ffffff;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1150px) {
  .ChannelFooter {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    /* background-color: aqua; */
    margin: auto;
    bottom: 0px;
  }

  .footerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 62%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgb(244, 146, 152)
    );
    background-color: rgb(244, 146, 152);
  }

  .channel-info {
    /* padding-top: 10px; */
    width: 40%;
    margin-left: 100px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    color: rgba(255, 255, 255, 0.885);

    /* filter: blur(10px); */
  }

  .creator-info {
    width: 40%;
    text-align: center;
    margin-left: 100px;
    /* font-family: "Dancing Script", cursive; */
    font-family: "Varela Round", sans-serif;;  
    font-size: 20px;
    color: #ffffff;
    /* display: flex;
    flex-direction: column; */
  }

  

  .lastImage {
    height: 38%;
    background-image: url("./channels4_banner(1).jpg");
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .custom-shape-divider-top-1671373515 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
    
        .custom-shape-divider-top-1671373515 .shape-fill {
            fill: #FFFFFF;
        } */
}

@media screen and (max-width: 1150px) {
  .ChannelFooter {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* background-color: aqua; */
    margin: auto;
    bottom: 0px;
  }

  .footerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 62%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgb(244, 146, 152)
    );
    background-color: rgb(244, 146, 152);
  }

  .channel-info {
    /* padding-top: 10px; */
    /* width: 40%; */
    /* margin-left: 100px; */

    text-align: center;
    margin: 10px;
    font-family: "Varela Round", sans-serif;
    color: rgba(255, 255, 255, 0.885);

    /* filter: blur(10px); */
  }

  .creator-info {
    width: 40%;
    text-align: center;
    /* margin-left: 100px; */
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .channel-link{
    margin: 10px 30px;
    width: 67%;
    text-align: center;
  }

  .channel-link h4 {
    margin: 9px 0px;
    color:rgba(255, 255, 255, 0.885);
  }
  .channel-link h2{
    margin: 5px 0px;
    margin-bottom: 20px;
  }

  .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .icons{
    color: rgba(255, 255, 255, 0.885);
    margin-top: 9px;
    margin-left: 5px;
  }


  .lastImage {
    height: 200px;
    background-image: url("./channels4_banner(1).jpg");
    background-color: rgba(255, 255, 255, 0.1);
    /* background-blend-mode: lighten; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  /* .custom-shape-divider-top-1671373515 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }
    
        .custom-shape-divider-top-1671373515 .shape-fill {
            fill: #FFFFFF;
        } */
}
