.ChannelFooter{
    position:relative;
    height:500px;
    width:80%;
    background-color: aqua;
    margin:auto;
    bottom: 10px;
}

.custom-shape-divider-top-1671373515 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1671373515 .shape-fill {
    fill: #FFFFFF;
}
