.download-container {
    height: fit-content;
    width:85%;
    background-color: rgba(255, 255, 255, 0.1 );
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2rem 0;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(7px);
    box-shadow: 1px 1px 7px grey;
    
}

.download-button {
    margin: 2rem auto 0;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}